body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

hr {
    width: 500px;
    height: 3px;
    background-color: black;
}

#board {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.tile {
    width: 147px;
    height: 147px;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.horizontal-line {
    border-bottom: 3px solid black;
}

.vertical-line {
    border-right: 3px solid black;
}

.winner {
    background-color: lightgray;
    color: red;
}

#turn-indicator {
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
}

#reset-button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

#reset-button:hover {
    background-color: lightgray;
}